{{!-- profile page --}}
<div class="dashboard-window">

    <div>
        <h2 class="userHeader">{{name}}'s Profile</h2>
    </div>

    <section>

        <h2 id="post-start">Create a new post!</h2>

        <a class="btn createpostbtn" href="create-post">Create Post!</a>

        {{!-- display of own posts --}}
        <h2>My Posts</h2>
        {{#each posts}}


            <div class="post-card">
                <div>
                    <div class="card-header">
                        <h3 id="post-name"><a href="/posts/{{id}}">{{name}}</a></h3>
                        <p id="post-user">Created by <a href="/users/{{user.id}}">{{user.name}}</a></p>
                    </div>

                    <p id="post-text">
                        {{description}}
                    </p>
                </div>
                <button class="btn" id="edit-post" data-id="{{id}}">Edit Post</button>
                <button class="btn" id="delete-post" data-id="{{id}}">Delete Post</button>
            </div>

        {{/each}}
    </section>
</div>

<script src="/js/dashboard.js"></script>