<!--Homepage Handlebar-->
<div class="post-window">
    {{#each posts}}
    <div class="post-card">
        <div>
            <div class="card-header">
                <h3 id="post-name"><a href="/posts/{{id}}">{{name}}</a></h3>
                <p id="post-user">Created by <a href="/users/{{user.id}}">{{user.name}}</a></p>
            </div>

            <p>
                {{description}}
            </p>
        </div>
    </div>
    {{/each}}
</div>