<div class="post-window">
    <h2 class="userHeader">{{name}}'s Profile</h2>
    {{#each posts}}
    <div class="post-card">
        <div>
            <div class="card-header">
                <h3 id="post-name"><a href="/posts/{{id}}">{{name}}</a></h3>
                <p id="post-user">Created by {{user.name}}</p>
            </div>
            <p id="post-text">{{description}}</p>
        </div>
    </div>
    {{/each}}
</div>